#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#buttons button {
  height: 3em;
  width: 6em;
}

#buttons .btn-row {
  justify-content: space-between;
  padding-bottom: 0.5em;
}

#buttons #startButton,#muteButton {
  background-color: yellow;
}